
*.index
*\.metadata
ProgettoASP/workspaceTestSolver/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
ProgettoASP/workspaceTestSolver/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
ProgettoASP/workspaceTestSolver/.recommenders/caches/manual-mappings.json
*.lock
